# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. Seaborn
3. Scikit-learn
4. Keras

**Objectives**
 - List popular languages for Data Science
 - List commonly used libraries by Data Scientists
 - List Data Science Tools
 - Evaluate arithmetic expressions in Python

|Data Science Tools|
| ---------- |
| Jypyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This is a simple arithmetic expresion to multiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes/60
print (hours)

3.3333333333333335

## Author

Charles Farag